/*  your css code here. If applicable */
body{
	background-color:#444444;
}
.animal-photos{
	text-align:center;
	
}
.photo-heading{
	color:white;
}
img{
	margin:10px;
	border-radius:10px;
	/* opacity:0.5; */
}